<div class="destination-card" >
    <div class="destination-card__img-container" >
        <img [src]='destinationData?.imageUrl' [alt]='destinationData?.destinationName'>
    </div>
    <div class="destination-card__contents-container" >
        <span class="destination-card__contents-container__title">{{destinationData?.destinationName}}</span>
        <!-- <span class="destination-card__contents-container__description">{{destinationData?.description}}</span> -->
        <button class="destination-card__contents-container__btn-show-rates" >More details</button>
        <div class="destination-card__contents-container__amenities-container">
            <span class="destination-card__contents-container__amenities-container__name">Amenities</span>
            <div class="destination-card__contents-container__amenities-container__amenities">
                <span class="material-symbols-outlined">air</span>
                <span class="material-symbols-outlined">wifi</span>
                <span class="material-symbols-outlined">pool</span>
                <span class="material-symbols-outlined">ac_unit</span>
            </div>
        </div>
        <div class="destination-card__contents-container__location" >
            <span class="material-symbols-outlined" >pin_drop</span>
            <span>Bgy. Corong Corong, El Nido, Palawan</span>
        </div>
        <div class="destination-card__contents-container__person-count" >
            <span class="material-symbols-outlined">person</span>
            <span>3 People</span>
            <!-- <span>People</span> -->
        </div>
        <div class="destination-card__contents-container__price-cut">
            <span class="destination-card__contents-container__price-cut__pcper" >10% Off</span>
            <span class="destination-card__contents-container__price-cut__pcno" >₱16,500</span>
        </div>
        <div class="destination-card__contents-container__price" >
            <span class="destination-card__contents-container__price__pno" >₱14,850</span>
            <span class="destination-card__contents-container__price__duration">
               <span>for</span> 7     <span class="material-symbols-outlined day" >clear_day</span>      6     <span class="material-symbols-outlined night" >dark_mode</span>
            </span>
        </div>
    </div>
</div>