@import './../../../../variables';

.destination-card {
    position: relative;

    width: 100%;
    height: 350px;

    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100%;

    border-radius: 10px;
    // border: 1px solid gray;

    background-color: white;

    // box-shadow: 0px 10px 60px 30px rgb(203, 203, 203);
    
    transition: transform 0.2s, border-radius 0.2s;
    
    &__shadow {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        width: 100%;
        height: 100%;

        border-radius: 10px;

        box-shadow: 0px 10px 60px 30px rgba(63, 63, 63, 0.15);
        box-shadow: 0px 2px 10px 2px rgba(128, 128, 128, 0.1);
    }

    &__img-container {

        // position: absolute;
        position: relative;
        // top: 0;
        // left: 0;
        width: 100%;
        width: 300px;
        height: 100%;

        z-index: auto;

        border-radius: 10px;

        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
    
            object-fit: cover;
            object-position: center;

            transition: transform 0.2s;
        }
    }


    &__contents-container {
        // position: absolute;
        position: relative;
        // top: 0;
        // left: 0;
        width: auto;
        height: 100%;

        z-index: auto;

        padding: 20px;
        border-radius: 10px;

        display: flex;
        flex-flow: column;
        gap: 10px;

        // background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) );

        &__title {
            color: white;
            color: black;
            font-family: $roboto;
            font-family: $poppins;
            // font-family: $playfair-display;
            font-size: 1.4em;
            font-weight: 700;
            // font-style: italic;
        }

        &__description {
            // position: absolute;
            // bottom: 20px;
            // left: 20px;
            margin-top: auto;

            max-width: 70%;
            max-height: 300px;
            overflow-y: auto;

            display: inline-block;
            
            color: white;
            color: black;
            font-family: $poppins;
            font-size: 0.75em;

            &::-webkit-scrollbar {
                display: none;
            }

            visibility: hidden;
            visibility: visible;
            opacity: 0;
            opacity: 1  ;

            transition: opacity 0.2s,
                        visibility 0s 0.2s;
        }

        &__btn-show-rates {
            position: absolute;
            bottom: 20px;
            right: 20px;
            padding: 13px;

            border: 1px solid white;
            border: 1px solid black;
            background-color: transparent;

            color: black;
            text-transform: uppercase;
            font-family: $poppins;
            font-size: 0.8em;

            opacity: 0;
            visibility: hidden;

            cursor: pointer;

            transition: opacity 0.2s,
                        visibility 0s 0.2s;
        }

        &__amenities-container {
            position: absolute;
            top: 20px;
            right: 20px;
            width: fit-content;

            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            visibility: hidden;
            opacity: 0;
            visibility: visible;
            opacity: 1;

            transition: opacity 0.2s,
                        visibility 0s 0.2s;

            &__name {
                font-family: $poppins;
                font-size: 0.7em;
                // font-weight: 700;
                // text-transform: lowercase;
                color: black;
            }

            &__amenities {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;

                width: 100%;
                padding: 5px;
            }

            .material-symbols-outlined {
                padding: 4px;
                color: black;
                // border-radius: 5px;
                border: 1px solid transparent;

                font-size: 1.3em;
                
                &.verified {
                    border-color: black;
                }
            }

        }

        &__location {

            position: relative;

            width: fit-content;
            // padding: 5px 8px;
            // margin-top: auto;

            display: flex;
            align-items: center;
            gap: 5px;

            // border: 1px solid white;
            // border: 1px solid black;
            border-radius: 5px;

            color: white;
            color: black;
            font-family: $poppins;
            font-weight: 600;
            font-size: 0.7em;

            cursor: pointer;

            .material-symbols-outlined {
                color: white;
                color: black;
            }

            .tooltip {
                top: 0;
                left: calc(100% + 10px);
            }
        }

        &__person-count {
            width: fit-content;
            // padding: 5px 8px;

            display: flex;
            align-items: center;
            gap: 5px;

            // border: 1px solid white;
            // border: 1px solid black;
            border-radius: 5px;

            color: black;

            // text-transform: uppercase;
            font-size: 0.7em;
            font-family: $roboto;
            font-weight: 600;

            .material-symbols-outlined {
                color: white;
                color: black;
                // font-size: 1.3em;
            }
        }

        &__price {

            width: fit-content;
            height: fit-content;

            display: flex;
            align-items: center;
            gap: 10px;

            font-family: $poppins;
            color: white;
            color: black;

            &__pno {
                position: relative;

                width: fit-content;
                padding: 5px 12px;

                display: inline-block;

                border: 1px solid rgb(255, 192, 0);
                // border-radius: 5px;
    
                background-color: transparent;
                
                // font-family: $playfair-display;
                font-weight: 600;
                font-size: 1.2em;
    
                transition: background-color 0.2s, color 0.2s;
            }

            &__duration {
                display: inline-flex;
                align-items: center;
                gap: 5px;

                .material-symbols-outlined {
                    transition: color 0.2s;
                }
            }
        }

        &__price-cut {
            width: fit-content;
            height: fit-content;
            padding-right: 10px;
            // margin-top: auto;

            display: flex;
            align-items: center;
            gap: 10px;

            border: 1px solid rgb(255, 192, 0);

            font-family: $poppins;
            color: white;
            color: black;

            &__pcper {
                width: fit-content;
                padding: 5px 8px;

                display: inline-block;

                border: 1px solid rgb(255, 192, 0);
    
                background-color: rgb(255, 192, 0);
                
                font-family: $playfair-display;
                font-family: $poppins;
                font-weight: 600;
                font-size: 0.8em;
                text-transform: uppercase;

                color: black;
            }

            &__pcno {
                text-decoration: line-through;
                // font-family: $playfair-display;
            }
        }
    }

    &:hover & {

        &__img-container {
            img {
                transform: scale(1.01);

                transition: transform 0.2s;
            }
        }

        &__contents-container {

            // background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8) );

            &__description {
                visibility: visible;
                opacity: 1;

                transition: opacity 0.2s;
            }

            &__btn-show-rates {
                visibility: visible;
                opacity: 1;

                transition: opacity 0.2s,
                            color 0.2s,
                            background-color 0.2s;

                &:hover {
                    color: white;
                    background-color: black;
                    
                    transition: color 0.2s,
                                background-color 0.2s;
                }
            }

            &__amenities-container {
                visibility: visible;
                opacity: 1;
    
                transition: opacity 0.2s;
            }

            &__price {
                
                &__pno {
                    color: black;
                    background-color: rgb(255, 192, 0);
    
                    transition: background-color 0.2s, color 0.2s;
                }

                &__duration {

                    .material-symbols-outlined {
                        transition: color 0.2s;
                    }
                    
                    .day {
                        color: rgb(255, 192, 0);
                    }
                    .night {
                        color: rgb(67, 143, 190)
                    }
                }
            }
        }
    }
}