<div class="destination-card" >
    <div class="destination-card__shadow" ></div>
    <div class="destination-card__img-container" >
        <img [src]='destinationData?.imageUrl' [alt]='destinationData?.destinationName'>
    </div>
    <div class="destination-card__contents-container" >
        <span class="destination-card__contents-container__title">{{destinationData?.destinationName}}</span>
        <a href="http://localhost:4200/room-1" class="destination-card__contents-container__btn-show-rates" >Book</a>

        <!-- <div class="destination-card__contents-container__location tooltip-parent" >
            <span class="material-symbols-outlined" >pin_drop</span>
            <span>{{destinationData?.location}}</span>
            <span class="resort-card__details-container__resort-location__tooltip tooltip">Show on map</span>
        </div> -->
        <div class="destination-card__contents-container__price" >
            <span class="destination-card__contents-container__price__pno" >{{finalPrice}}</span>
            <span class="destination-card__contents-container__price__duration">
                <span>for</span> {{destinationData?.duration}}     <span class="material-symbols-outlined day" >clear_day</span>      {{destinationData?.duration! - 1}}     <span class="material-symbols-outlined night" >dark_mode</span>
            </span>
        </div>
        <div class="destination-card__contents-container__price-cut">
            <span class="destination-card__contents-container__price-cut__pcper" >{{destinationData?.price?.cutPercent}}% Off</span>
            <span class="destination-card__contents-container__price-cut__pcno" >{{price}}</span>
        </div>
        <div class="destination-card__contents-container__person-count" >
            <span class="material-symbols-outlined">person</span>
            <span>{{destinationData?.personCount + " person" }}</span>
        </div>
        <div class="destination-card__contents-container__amenities-container">
            <span class="destination-card__contents-container__amenities-container__name">Amenities</span>
            <div class="destination-card__contents-container__amenities-container__amenities">
                <span class="material-symbols-outlined verified">air</span>
                <span class="material-symbols-outlined verified">wifi</span>
                <span class="material-symbols-outlined">pool</span>
                <span class="material-symbols-outlined">ac_unit</span>
            </div>
        </div>
        <span class="destination-card__contents-container__description">{{destinationData?.description}}</span>
    </div>
</div>