<div #page class="container-1200" >

  <!-- <div class="resort-header" >
      <div class="header-img-container">
        <img [src]="data.imgUrl" alt="palawan scene 1">
      </div>
      <div class="logo-container">
          <img class="logo-container__resort-logo" src="../../../../assets/La Union Hub.png" alt="">
      </div>
  </div> -->

  <c-viewport-gallery *ngIf="viewportGallery"  [images]="data.images" (closeEvent)="hideGallery()" ></c-viewport-gallery>
  
  <div class="resort-body">
    <section class="details-section">
      <div class="main-image">
        <img [src]="data.images[0]">
        <button class="viewport-gallery-viewer" (click)="showGallery()">
          <span>View</span>
        </button>
      </div>
      <div class="other-images"
        [ngStyle]="{
          '--repeat' : previewCount
        }"
      >
        <ng-container *ngFor="let url of data.images ; let i = index">
          <div class="other-image" *ngIf="i <= previewCount && i !== 0 " >
            <img [src]="url" [alt]="previewCount">
            <button class="viewport-gallery-viewer" (click)="showGallery()" >
              <span>View</span>
            </button>
          </div>
        </ng-container>
      </div>
      <div class="resort-details" >
        <h2 class="resort-name" >{{data.name}}</h2>
        <div class="resort-location">
          <div class="show-on-map">
            <div class="show-on-map__bg-wrapper">
              <img src="../../../../assets/google-map-bg.avif" alt="Map background">
            </div>
            <span class="material-symbols-outlined">share_location</span>
            <button class="show-on-map__btn">Map</button>
          </div>
          <span class="material-symbols-outlined" >location_on</span> {{data.location}}
        </div>
        <c-readmore [text]="data.description" [max]="400"></c-readmore>
      </div>
    </section>
    
    <section class="main-section">
      <div class="rooms-container" >
        <span class="available-counter" >Available rooms : 14</span>
        <ng-template *ngIf="data.rooms.length > 0 then rooms else noRoomMessage"></ng-template>
        <ng-template #rooms>
          <c-room *ngFor="let room of data.rooms" [destinationData]="room"></c-room>
        </ng-template>
        <ng-template #noRoomMessage>
          <p  class="no-room-message">No available rooms 😞</p>
        </ng-template>
      </div>
    </section>
  </div>
</div>
