<div class="page-resort" >

  <div class="resort-header" >
      <div class="resort-header__header-img-container">
        <img [src]="data.imgUrl" alt="palawan scene 1">
      </div>
      <div class="resort-header__contents-container">
          <!-- <h2>Palawan</h2> -->
          <img class="resort-header__contents-container__resort-logo" src="../../../../assets/La Union Hub.png" alt="">
          <!-- <hr> -->
          <!-- <p class="resort-header__contents-container__resort-description" >La Union is one of the four prominent provinces in Region 1. Dubbed as the Surfing Capital of the North, tourists do not usually mind the long-hour travel just to have that once-in- a-lifetime experience with the waves and seas.  The province of La Union definitely knows how to give a good time, and it allows millennials to have fun in an insane manner. The province is a place to be chill and laid-back; but when it comes to having a good time, it is certainly one of the best places to lose yourself in. ELYU is where millennials can relish every bit of their youthful years and meet new acquaintances. A place where they can be carefree and probably unleash a little bit of that of wildness. Although La Union is the perfect getaway for peace and serenity, it can also give you the best night of your life.</p> -->
      </div>
  </div>

  
  <div class="resort-page-body">
    <aside class="free-space">
      
    </aside>
    <div class="rooms-container" >
      <ng-template *ngIf="data.rooms.length > 0 then rooms else noRoomMessage"></ng-template>
      <ng-template #rooms>
        <c-room *ngFor="let room of data.rooms" [destinationData]="room"></c-room>
      </ng-template>
      <ng-template #noRoomMessage>
        <p  class="resort-page-body__no-room-message">No available rooms 😞</p>
      </ng-template>
    </div>
  </div>
</div>
