<div class="location-header" >
    <div class="location-header__header-img-container">
      <img src="../../../../assets/palawan-img-1.webp" alt="palawan scene 1">
    </div>
    <div class="location-header__contents-container">
        <!-- <h2>Palawan</h2> -->
        <img class="location-header__contents-container__location-logo" src="../../../../assets/La Union Hub.png" alt="">
        <!-- <hr> -->
        <!-- <p class="location-header__contents-container__location-description" >La Union is one of the four prominent provinces in Region 1. Dubbed as the Surfing Capital of the North, tourists do not usually mind the long-hour travel just to have that once-in- a-lifetime experience with the waves and seas.  The province of La Union definitely knows how to give a good time, and it allows millennials to have fun in an insane manner. The province is a place to be chill and laid-back; but when it comes to having a good time, it is certainly one of the best places to lose yourself in. ELYU is where millennials can relish every bit of their youthful years and meet new acquaintances. A place where they can be carefree and probably unleash a little bit of that of wildness. Although La Union is the perfect getaway for peace and serenity, it can also give you the best night of your life.</p> -->
    </div>
</div>
<div class="resort-page-body">
  <aside class="free-space">
  
  </aside>
  <div class="location-container">
      <c-destination [destinationData]='{
        destinationName : "EMR - Balcony",
        imageUrl : "../assets/location_image_placeholder.jpg",
        amenities : ["restaurant"],
        mainAmenities : ["internet"],
        description : "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled"
      }' ></c-destination>
      <c-destination [destinationData]='{
          destinationName : "LEB - King Suite",
        imageUrl : "../assets/location_image_placeholder_1.jpg",
        amenities : ["restaurant"],
        mainAmenities : ["internet"],
        description : "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the."
      }' ></c-destination>
      <c-destination [destinationData]='{
          destinationName : "MDS - Seaview Cottege",
        imageUrl : "../assets/location_image_placeholder_2.jpg",
        amenities : ["restaurant"],
        mainAmenities : ["internet"],
        description : "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer."
      }' ></c-destination>
      <c-destination [destinationData]='{
          destinationName : "LBA - Deluxe Room",
        imageUrl : "../assets/location_image_placeholder_3.jpg",
        amenities : ["restaurant"],
        mainAmenities : ["internet"],
        description : "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets."
      }' ></c-destination>
      <c-destination [destinationData]='{
          destinationName : "LEB - Honey Suite",
        imageUrl : "../assets/location_image_placeholder_4.jpg",
        amenities : ["restaurant"],
        mainAmenities : ["internet"],
        description : "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make "
      }' ></c-destination>
      <c-destination [destinationData]='{
          destinationName : "LEB - Deluxe Room",
        imageUrl : "../assets/location_image_placeholder_5.jpg",
        amenities : ["restaurant"],
        mainAmenities : ["internet"],
        description : "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,"
      }' ></c-destination>
      <c-destination [destinationData]='{
        destinationName : "EMR - Balcony",
        imageUrl : "../assets/location_image_placeholder.jpg",
        amenities : ["restaurant"],
        mainAmenities : ["internet"],
        description : "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled"
      }' ></c-destination>
    </div>
</div>