@import './../../../../variables';

.promo-container {
    
    padding: 40px;

    &__header-content {
        flex-direction: row;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: min-content 1fr;
        gap: 1em;

        background: #fff;
        color: rgba(0,0,0,.87);

        &__img-container {
            position: relative;

            display: grid;
            grid-template-columns: min-content min-content;
            gap: 10px;

            &__main-image {
                width: fit-content;
                height: fit-content;

                img {
                    width: 500px;
                    border-radius: 5px;
                }
            }

            &__other-images {
                position: relative;

                display: grid;
                grid-template-rows: repeat(1fr, 3);
                gap: 10px;

                height: 100%;
                &__other-image {
                    position: relative;
                    width: 200px;
                    height: 100%;

                    border: none;
                    background-color: transparent;
                    img {
                        width: 100%;
                        border-radius: 5px;

                        object-fit: cover;
                    }
                }
            }
        }

        &__main-card {
            position: relative;

            width: 100%;
            max-width: 500px;
            height: fit-content;
            

            padding: 40px;

            // outline: 1px solid red;

            // display: grid;
            // grid-template-columns: 1fr min-content;
            // grid-template-rows: repeat(4,min-content);
            display: flex;
            flex-flow: column;
            gap: 10px;

            background: #fff;
            color: rgba(0,0,0,.87);

            box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

           // box-shadow: 0px 2px 10px 2px rgba(128, 128, 128, 0.1);

            &__buy-btn, &__price, &__discount-ribbon, &__value, &__note {
                font-family: $poppins;
            }

            &__row-1 {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__price {
                    display: grid;
                    grid-row: 1fr 1fr;

                    font-family: $poppins;
                    font-size: 1.3rem;

                   
    
                    
                }

                &__origprice {
                    font-size: 0.8rem;

                    .origprice{
                        color: red;
                        text-decoration: line-through;
                }

                .percent {
                    background-color: #ffc326;
                    padding: 7px;
                }

                    }

                &__buy-btn {
                    width: fit-content;
                    height: fit-content;
                    padding: 15px 20px;
                    border-radius: 5px;
                    
                    border: none;
                    
                    background-color: #ffc326;
                    
                    font-weight: 600;
                    font-size: 15px;
                    font-family: $poppins;
                }


            }

            &__row-2 {

                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;

                &__quantity {

                    width: fit-content;
                    height: fit-content;
    
                    display: flex;
                    flex-flow: column;
                    gap: 10px;
    
                    padding: 20px;
                    background-color: rgb(182, 205, 212);
    
                    border-radius: 10px;
    
                    label {
                        font-family: $poppins;
                    }

                    
                    }
    
                    &__inputs {
                        font-family: $poppins;
                        display: flex;
                        align-items: center;
                        gap: 5px;
    
                        input {
                            padding: 10px;
                        }
    
                        button {
                            width: 0px;
                            height: 30px;
    
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            border: none;
                            // border: 1px solid black;
    
                            padding: 5px;
                            background-color: transparent;
    
                            font-family: $poppins;
                            font-weight: 900;
    
                            transition: transform 0.2s;
    
                            &::-webkit-outer-spin-button {
                                display: none;
                            }
    
                            &::-webkit-inner-spin-button {
                                display: none;
                            }
                            
                            &:active {
                                transform: translateY(5px);
                                transition: transform 0.2s;
                            }
                        }
                    }
    
                }

                &__value {
                    font-size: 20px;

               

            }
            
            
            &__discount-ribbon {
                position: absolute;
                top: -5px;
                left: 5;
                transform: translateX(-50%);
                
                padding: 20px;
                
                background-color: #ffc326;
                
                font-weight: 600;

                padding: 0.5em;
                z-index: 1;
              
            }



            &__note {
                margin-top: 20px;
                grid-column: 1/3;
                grid-row: 3/4;
            }
           
        }

        &__logIn-btn {
    
            padding: 0 2em;
            margin-left: auto;
            font-size: 16px;
            line-height: 52px;
            color: #000;
            font-weight: 600;
            background-color: #ffc326;

            line-height: 56px;
            margin-left: 300px;
            margin-top: 10px;

            
            
        }
    }

    &__name-container{
        display: none;
        font-size: 1.75em;
        line-height: 1.5em;
    }


    &__content-container {

    p {
       
        margin: 20px; 
        padding-left: 20px;
        text-transform: uppercase;
        font-weight: 750;
    }

    ul {
        padding-left: 40px;
    }
    
    li {
        margin: 10px;
    }
}

.name-container {
    margin-top: 5px;
    padding-left: 50px;
    text-transform: uppercase;
        font-size: 2em;
}



    


}


