<div class="page-location" >
    <div class="location-header" >
        <div class="location-header__header-img-container">
            <img [src]='pageData.headerImgUrl' [alt]='pageData.locationName'>
        </div>
        <img class="location-header__logo" [src]="pageData.headerLogoUrl" alt="Header Logo">
    </div>
    <h1 class="location-resorts-text" ><span class="material-symbols-outlined" >location_on</span>Properties in <span class="location-resorts-text__name">{{pageData.locationName}}</span>  </h1>
    <p class="location-description">{{pageData.locationDescription}}</p>
    <div class="resorts-container" *ngIf=' pageData.resorts.length > 0; else noResortMessage ' >
        <c-resort-card *ngFor='let rsrt of pageData.resorts' [data]="rsrt" ></c-resort-card>
    </div>
    <ng-template #noResortMessage>
        <p class="no-resorts-message" >No properties available 😞</p>
    </ng-template>
</div>
