@import '../../../../variables';

.page-location {
    display: flex;
    flex-flow: column;
    gap: 40px;
}

.location-header {

    position: relative;

    width: 100%;
    height: fit-content;

    &__header-img-container {
        position: relative;

        width: 100%;
        height: 600px;

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position: center;
        }
    }

}

.page-title {
    font-style: italic;
    font-family: $playfair-display;
}

.resorts-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}