.inline-date-picker-container {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;

    &__custom-header {
        display: flex;
        justify-content: space-between;

        grid-column: 1/3;
        padding: 20px;
    }

}
.mat-calendar-period-button {
    display: none !important;
    visibility: hidden; 
}