<footer>

    <div class="sec">
        <h3>NEED HELP</h3>
        <ul>
          <li><a routerLink=""></a></li>
          <li><a routerLink=""></a></li>
          <li><a routerLink=""></a></li>
        </ul>
      </div>
    
      <div class="sec">
        <h3>COMPANY</h3>
        <ul>
        <li><a routerLink="">About us</a></li>
        <li><a routerLink="">Our Community</a></li>
        <li><a routerLink=""></a>Our Journey</li>
        <li><a routerLink=""></a>Baybayin Hub blog</li>
      </ul>
    
      </div>
    
      <div class="sec">
        <h3>ACCOUNT</h3>
        <ul>
        <li><a routerLink="">Become a Member</a></li>
        <li><a routerLink=""></a>Log In</li>
      </ul>
      </div>
    
      <div class="sec">
        <h3>SUPPORT</h3>
        <ul>
        <li><a routerLink="">Terms & Conditions</a></li>
        <li><a routerLink=""></a>Privacy Policy</li>
      </ul>
    
      </div>
</footer>