@import 'variables';

/* You can add global styles to this file, and also import other style files */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tooltip {
    position: absolute;

    width: fit-content;
    white-space: nowrap;

    padding: 5px 8px;
    border-radius: 4px;

    color: white;
    background-color: gray;
    font-size: 1em;
    font-family: $poppins;

    visibility: hidden;
}