<div class="resort-card" >
    <div class="resort-card__shadow" ></div>
    <div class="resort-card__resort-img-container" >
        <img [src]='data.imgUrl' [alt]='data.name'>
    </div>
    <div class="resort-card__details-container" >
        <strong class="resort-card__details-container__resort-name">{{data.name}}</strong>
        <a class="resort-card__details-container__resort-location tooltip-parent" >
            <span class="material-symbols-outlined" >location_on</span>
            <span class="resort-card__details-container__resort-location__name">{{data.location}}</span>
            <span class="resort-card__details-container__resort-location__tooltip tooltip">Show on map</span>
        </a>
        <a href="http://localhost:4200/resort-1" class="resort-card__details-container__btn-view-resort">Rooms</a>
    </div>
</div>