.gallery {
    position: relative;

    width: fit-content;
    height: fit-content;

    display: flex;
    flex-flow: column;
    gap: 10px;

    &__curr-image-container {
        
        position: relative;

        width: 700px;
        height: 500px;

        // display: flex;
        // flex-wrap: nowrap;
        // flex-shrink: 0;

        border-radius: 10px;

        overflow: hidden;

        // pointer-events: none;
        
        &__nav-left, &__nav-right {
            position: absolute;
            bottom: 20px;

            width: 50px;
            height: 50px;

            display: flex;
            justify-content: center;
            align-items: center;

            // transform: translateY(-50%);

            border: none;
            border-radius: 50%;
            background-color: rgb(255, 255, 255, 0.5);

            font-size: 1.2em;

            opacity: 0;
            visibility: hidden;

            // pointer-events: all;

            transition: opacity 0.2s,
                        visibility 0s 0.2s;
        }
        &__nav-left {
            left: 20px;
        }
        &__nav-right {
            right: 20px;
        }

        &__front, &__back {

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            min-width: 100%;
            height: 100%;

            pointer-events: all;

            img {
                width: 100%;
                height: 100%;
    
                object-fit: cover;
                object-position: center;
            }
            
            &.inleft {
                animation: inleft 0.4s ease 0s forwards;
            }
    
            &.outright {
                animation: outright 0.4s ease 0s forwards;
            }
    
            &.inright {
                animation: inright 0.4s ease 0s forwards;
            }
    
            &.outleft {
                animation: outleft 0.4s ease 0s forwards;
            }
        }

        @keyframes inleft {
            from {
                transform: translateX(-100%);
            } to {
                transform: translateX(0%);
            }
        }
        @keyframes outright {
            from {
                transform: translateX(0%);
            } to {
                transform: translateX(100%);
            }
        }

        @keyframes inright {
            from {
                transform: translateX(100%);
            } to {
                transform: translateX(0%);
            }
        }
        @keyframes outleft {
            from {
                transform: translateX(0%);
            } to {
                transform: translateX(-100%);
            }
        }

        &:hover & {
            &__nav-left, &__nav-right {
                opacity: 1;
                visibility: visible;

                transition: opacity 0.2s;
            }
        }
        
    }

    &__image-previews {

        position: relative;

        width: 100%;
        max-width: 700px;
        height: fit-content;

        overflow-y: hidden;

        display: flex;
        gap: 10px;

        scrollbar-width: none;

        pointer-events: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &__preview {
            position: relative;

            width: fit-content;
            height: fit-content;

            padding-bottom: 10px;

            border: none;
            background-color: transparent;
            
            // overflow: hidden;

            pointer-events: all;

            transition: transform 0.2s;
            
            img {
                width: 120px;
                // height: 100%;
                border-radius: 10px;
            }

            &.active {
                // outline: 2px solid black;
                transform: translateY(5px);
                opacity: 0.7;

                transition: transform 0.2s;
            }

        }
    }

    &.full {
        width: 100%;
    }

    &.full & {
        &__curr-image-container {
            width: 100%;
        }
    }
}